div#container {
    display: flex;
    width: 800px;
    height: 800px;
    flex-wrap: wrap;
    box-sizing: content-box;
    border-style: solid;
    border-width: 3px;
    
}

.title {
    text-align: center;
    margin: 20px
}

div div {
    box-sizing: border-box;
    flex: 1 1 auto;
    min-width: 50px;
    min-height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}