

#container {
    display: flex;
    width: 800px;
    height: 800px;
    border-style: solid;
    border-color: black 1px;
    justify-content: center;
    margin: auto;
}

.title {
    text-align: center;
    margin: 20px
}

#buttons {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
}

#gridRow {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#gridColumn {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}